<!DOCTYPE html>
<html>
<head>
	<title>Streets Watch</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script type="text/javascript" src='testdata.js'></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
	<script type="text/javascript" src='index.js'></script>
	<script type="text/javascript" src='select.js'></script>
	<script type="text/javascript" src='option.js'></script>
	<script type="text/javascript" src="services/api.js"></script>
	<script type="text/javascript" src="bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app='StreetWatch'>
  <div class="col-md-12 centering">
	  <crime-data></crime-data>
  </div>


		    <div id="map"></div>
		    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
<!-- 		         <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
		         <label id="names" >{{marker.title}}</label></a> -->

		</div>
 <!--  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk4ATGmBQDOf3NA08EawrhZZK3o_1ubJg&callback=initMap">
  </script> -->
</body>
</html>